In [1]:
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt

In [ ]:
# df = pd.read_excel("bitaksi_RFM_Segmentasyonu_Dummy_Data_1000.xlsx")
# df.head()

,Kullanıcı ID,Son Kullanım Tarihi,Kullanım Sıklığı (Son 12 Ay),Toplam Harcama (TL)
0,1,2024-04-25,50,1748
1,2,2024-09-19,37,4055
2,3,2024-04-10,39,2647
3,4,2024-04-23,6,3980
4,5,2024-07-30,4,2907